<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.11" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.103.4" targetFramework="net452" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Vision.v1" version="1.30.0.1041" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net452" />
  <package id="JWT" version="2.4.2" targetFramework="net452" />
  <package id="libphonenumber-csharp" version="8.10.12" targetFramework="net452" />
  <package id="MaxMind.Db" version="2.3.0" targetFramework="net452" />
  <package id="MaxMind.GeoIP2" version="2.9.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RestSharp" version="106.6.9" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
</packages>